# Helpers
.obsidian
.vscode
.stfolder*
.directory
.vscode-ctags


# Compiled files and Not applyed plans
**@*
**!*
**.o*
**.a*
**.so*
**.ko*
**.qo*
**.elf*
&Conf/CPU_*.kconfig
&Conf/CPU_*.inc
def.list


# Configs
.config*
config.*
